<form action="/payment/results">
  <div>
    <label for="elise">APR</label>
    <input id="elise" type="text" name="apr">
    <label for="florence">Number of years</label>
    <input id="florence" type="text" name="years">
    <label for="george">Principal</label>
    <input id="george" type="text" name="principal">
  </div>

  <button>Calculate monthly payment</button>
</form>
