<form action="/random/results">
  <div>
    <label for="cindy">Minimum</label>
    <input id="cindy" type="text" name="users_min">
    <label for="david">Maximum</label>
    <input id="david" type="text" name="users_max">
  </div>

  <button>Pick random number</button>
</form>
