<form action="/square_root/results">
  <div>
    <label for="bob">Enter a number</label>
    <input id="bob" type="text" name="users_number">
  </div>

  <button>Calculate square root</button>
</form>
